<% if current_user %>
  <p id="notice"><%= notice %></p>

  <h1>Listing Dependents</h1>

  <table>
    <thead>
      <tr>
        <th>Foto</th>
        <th>Name</th>
        <th>Kinship type</th>
        <th colspan="3">Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @dependents.each do |dependent| %>
        <tr>
          <td><%= image_tag(dependent.image.url(:small), width: 50) %></td>
          <td><%= dependent.name %></td>
          <td><%= dependent.kinship_type %></td>
          <td><%= link_to 'Show', dependent %></td>
          <td><%= link_to 'Edit', edit_dependent_path(dependent) %></td>
          <td><%= link_to 'Destroy', dependent, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Dependent', new_dependent_path %>
<% else %>
  <p id="notice">Need to login</p>
<% end %>
