<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @dependent.name %>
</p>

<p>
  <strong>Kinship type:</strong>
  <%= @dependent.kinship_type %>
</p>

<%= image_tag(@dependent.image.url(:small), width: 250) %>


<%= link_to 'Edit', edit_dependent_path(@dependent) %> |
<%= link_to 'Back', dependents_path %>
